.app-header {
    background-color: #263238;
    height: 60px;
    display: flex;
    align-items: center;    
}

.image-loader-logo{
    color: #fff;
    font-size: 20px;
    margin-left: 10px; /* added for better ui*/
}

